.contactContainer {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.contactWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapper {
    width: 80%;
    height: max-content;
    align-self: center;
    margin-top: 10px;
    display: flex;
    box-shadow: -1px 1px 5px rgb(0, 0, 0, .5);
}

.contactForm {
    width: 60%;
    height: 100%;
    display: block;
    padding: 20px 30px;
}

.contactForm h2 {
    margin-top: 20px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.contactForm form {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    border: .5px solid gray;
    border-radius: 10px;
}

textarea {
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    border: .5px solid gray;
    border-radius: 10px;
}

.halfInput {
    width: 47%;
}

.fullInput {
    width: 100%;
}

.fullName {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phoneEmail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    align-self: center;
    padding: 12px 20px;
    background-color: tomato;
    color: #fff;
    border: 0.1px solid tomato;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all .3s ease;
}

button:hover {
    border: 0.1px solid tomato;
    background-color: #fff;
    color: tomato;
}


.contactInfos {
    width: 40%;
    height: 100%;
    display: block;
    padding: 20px 30px;
    background-color: tomato;
    color: #fff;
}

.contactInfos h2 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.contactus {
    margin: 40px 15px;
}

.viaPhone {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
}

.viaEmail {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
}

.social {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
}

.media {
    padding: 10px;
    color: #fff;
    background: tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all .3s ease;
}

.media:hover {
    color: tomato;
    background: white;
}

@media screen and (max-width: 750px) {

    .contactContainer {
        height: max-content;
    }
    
    .contactWrapper h1 {
        margin-top: 40px;
        font-size: 25px ;
    }

    .contactForm h2 {
        margin-top: 16px;
    }

    .wrapper {
        width: 100%;
        flex-direction: column;
    }
    
    .contactForm {
        width: 100%;
        height: max-content;
    }
    
    .contactForm h2 {
        font-size: 23px;
    }
    
    input {
        padding: 7px 15px;
        font-size: 12px;
        border-radius: 6px;
    }
    
    textarea {
        padding: 7px 15px;
        font-size: 12px;
        border-radius: 6px;
    }
    
    .halfInput {
        width: 48%;
    }
    
    button {
        padding: 10px 16px;
        font-size: 14px;
        border-radius: 18px;
        gap: 8px;
    }
    
    .contactInfos {
        width: 100%;
        height: max-content;
    }
    
    .contactInfos h2 {
        font-size: 23px;
    }
    
    .viaPhone {
        font-size: 15px;
    }
    
    .viaEmail {
        font-size: 15px;
    }
    
    .social {
        justify-content: center;
        gap: 20px;
        font-size: 20px;
    }
    
    .media {
        padding: 8px;
    }
}