* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}


/* 
.sayhi {
  margin-top: 100px;
  padding: 20px 30px;
  font-size: 1.8rem;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: tomato;

  transition: all 0.3s ease-in-out;
}

.sayhi:hover {
  transform: translateY(-10px);
  background-color: tomato;
  color: white;
} */